{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "project": "tsconfig.json",
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "ignorePatterns": "webpack*.js",
    "plugins": [
        "@typescript-eslint"
    ],
    "env": {
        "browser": true
    },
    "extends": [
        "airbnb",
        "airbnb-typescript"
    ],
    "rules": {
        // note you must disable the base rule as it can report incorrect errors
        "comma-dangle": "off",
        "@typescript-eslint/comma-dangle": [
            "error",
            "never"
        ]
    }
}